$white: #fff;
$black: #000;
$primary: #f6623e;

//$primary-1: #f6623e;
//$primary-2: #f6623e;
//$primary-3: #f6623e;
$primary-4: #ffe6e6;
//$primary-5: #f6623e;


$secondary: #e0c1a5;

$light-1: #fff;
$light-2: #eaeaea; // border header
$light-3: #b7b7b7;
$light-4: #737373;
$light-5: #fff;

$dark-1: #000;
$dark-2: #000;
$dark-3: #414141; // текст логотипа
$dark-4: #262626; // общий текст
$dark-5: #000;


$faded: #9d9d9d;