@import '../../styles/colors';

.search {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid $primary;
  border-radius: 6px;
  overflow: hidden;
  background-color: $primary;

  &__input {
    width: calc(100% - 100px - 40px);
    height: 100%;
    font-size: 17px;
    padding: 0 15px;
    background-color: $white;
  }

  &__btn-reset {
    width: 40px;
    height: 100%;
    transform: translateX(-2px);
    fill: $light-4;
    border-radius: 0 6px 6px 0;
    background-color: $white;
  }

  &__btn-search {
    width: 100px;
    height: 100%;
    background-color: $primary;
    fill: $white;
  }

  &__icon {
    display: block;
    margin: auto;
    height: 30px;
    width: 30px;
  }
}